.container .header {
  text-align: center;
  color: #8a8989;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 1em;
}

.card {
  margin: auto;
  box-shadow: 2px 4px 10px 3px rgba(39, 39, 39, 0.3);
  background-color: #fff;
  border-radius: 1em;
  padding: 0.5em;
}

.brandname-container {
  max-width: 640px;
  position: relative;

  .brandname-layout {
    margin-top: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .brandname {
    font-size: 3rem;
    text-transform: initial;
    margin-top: 0.5em;
    margin-bottom: 0.2em;
  }

  .meaning {
    font-size: 1.2rem;
    font-style: italic;
    margin-top: 0;
    text-transform: lowercase;
  }

  p {
    text-align: center;
  }

  .generate-button {
    margin: 1em auto;
    font-size: 1.2rem;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    background-color: turquoise;
    border: none;
    color: #fff;
    font-weight: bold;
    transition: 0.2s ease;
    box-shadow: 1px 1px 1px 0px rgba(39, 39, 39, 0.3);

    &:hover {
      transform: translate(-2px, -2px);
      box-shadow: 2px 4px 10px 3px rgba(39, 39, 39, 0.2);
    }

    &:active {
      transform: translate(2px, 2px);
      box-shadow: 1px 1px 1px 0px rgba(39, 39, 39, 0.3);
    }

    &:focus {
      outline: none;
    }
  }
}

.settings-container {
  max-width: 300px;
  padding: 1em 2em;
  margin-top: 3em;

  .option-field {
    display: flex;
    justify-content: space-between;

    .select-tone {
      margin-top: -0.3em;
    }
  }

  .option-field:not(:first-child) {
    margin-top: 1em;
  }
}

.container-stored-brandnames {
  margin-top: 2em;

  .header {
    font-size: 1.3rem;
  }

  .list-brandname {
    list-style: none;
    padding-left: 0;

    .item-brandname + .item-brandname {
      margin-top: 0.5em;
    }

    .item-brandname {
      margin-left: auto;
      margin-right: auto;
      display: flex;
      justify-content: space-between;
      max-width: 300px;
      align-items: center;

      * + * {
        margin-top: 0;
      }
    }
  }

  .words {
    color: #1f1e1e;
    font-weight: bold;
    text-transform: uppercase;
  }

  .meaning {
    color: #2c2c2c;
    font-size: 0.8rem;
    text-transform: lowercase;
    font-style: italic;
  }

  .clear-all {
    text-align: center;

    a {
      text-transform: uppercase;
      cursor: pointer;
      font-weight: bold;
      font-size: 0.8rem;
      color: #848484;

      &:hover {
        color: #000;
      }
    }
  }
}

a.heart {
  display: block;
  position: absolute;
  cursor: pointer;
  left: auto;
  right: 0.6em;
  transition: 0.2s ease;

  &:hover {
    transform: translate(-2px, -2px);
  }

  &:active {
    transform: translate(2px, 2px);
  }

  &:focus {
    outline: none;
  }
}

a.link-remove {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.5rem;
  color: #8a8989;
  font-weight: bold;
  margin-left: 0.5em;

  &:hover {
    color: #000;
  }
}

.divider {
  border-color: azure;
}
